# Environments
.env
.env.local
.venv/
env/
venv/

# .github

# Python
__pycache__/
*.py[cod]
*.class
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/
.eggs/

# IDE / OS
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.DS_Store
Thumbs.db
